[Desktop Entry]
Type=Application
Exec=guake
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=zsh
Name=zsh
Comment[en_US]=start zsh on background 
Comment=start zsh on background 
