#colors: https://github.com/da-edra/dotfiles/blob/master/.i3blocks.conf

command=$HOME/.config/i3/scripts/$BLOCK_NAME
#full_text=
#align=center
#separator=false
#separator_block_width=7
#color=#ffffff
#markup=none

separator=true
separator_block_width=17
markup=pango
border_top=0
border_left=0
border_right=0
border_bottom=3

[focus]
label=
interval=5
#border=#cc241d

[mpd]
label=
interval=5
#border=#d79921

[temperature]
label=
interval=10
#border=#b16286

[work]
command=$HOME/.config/i3/scripts/work.sh
interval=5
align=center

[work-git]
command=$HOME/.config/i3/scripts/work-head-check.sh
interval=2
align=center

#[microphone]
#label=
#interval=5
#command=$HOME/.config/i3/scripts/microphone.sh
#border=#DD0AA8

[weather]
instance="SAM|BR|BR010|CAMPO+GRANDE"
interval=300
#border=#98971a

[packages]
label=
interval=600
#border=#458588

[trash]
label=
interval=30
#border=#928374

# Date
[date]
command=$HOME/.config/i3/scripts/date 
interval=60
border=#2BD394

# Time
[time]
command=printf " " && date '+%I:%M' 
interval=5
border=#ef6191
#border=#cc241d

# Volume indicator
[volume]
label=
instance=Master
interval=1
signal=10
border=#ffb64c
#border=#d79921

# Battery indicator
[battery]
command=$HOME/.config/i3/scripts/battery
interval=30

# power down computer
[shutdown]
interval=5
color=#DC025B
command=$HOME/.config/i3/scripts/power

#[hora]
#label=
#interval=5
#border=#cc241d

#[volume]
#instance=Master
#interval=1
#signal=10
#border=#d79921
